.row {
    padding: 10px;
    padding-left: 200px;
    width:%
}

.row-height {
    height: 50px;
    text-align: center;
    padding-top: 25px;
    padding: 10px;
    padding-left: 200px;
    width:100%
}

.col-md-4,.col-md-2 {
    background-color: #e3e3e3;
}

.col-md-6 {
    background-color: #e3e3e3;
}

.col-md-4 {
    border-radius: 15px 0 0 15px;
    background-color: #e3e3e3;
}

.col-md-2 {
    border-radius: 0 15px 15px 0;
    background-color:#5a5a5a;
}

header{
text-align: center;
font-size: xx-large;

}

hr{

border-width: 10px; border-color: #000000;


}

#inpkey{

width:80%;

}

span{

    margin: auto;
    
}